<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>收货地址</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="page-header">
    <page-header></page-header>
</div>
<el-container>
    <el-header height="100px">
        <div class="main-nav">
            <div class="page-header">
                <div class="nav-atag">个人中心</div>
                <div class="nav-index">
                    <a href="index.html" class="nav-index">首页</a>
                </div>
                <div class="nav-cart">
                    <a href="index.html" class="nav-cart">购物车</a>
                </div>
            </div>
        </div>

    </el-header>

    <el-container class="user-container">
        <el-aside id="address-aside" width="205px" style="float: left">
            <el-row class="tac">
                <el-col :span="24">
                    <el-menu
                            default-active="5"
                            class="el-menu-vertical-demo"
                            @open="handleOpen"
                            @close="handleClose"
                            active-text-color="#ffd04b">

                        <el-menu-item index="1">
                            <i class="el-icon-user"></i>
                            <span slot="title"><el-link :underline="false" href="user.html" target="_blank">我的资料</el-link></span>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <i class="el-icon-goods"></i>
                            <span slot="title">我的商品</span>
                        </el-menu-item>

                        <el-submenu index="3">
                            <template slot="title">
                                <i class="el-icon-s-order"></i>
                                <span>订单管理</span>
                            </template>
                            <el-menu-item-group>
                                <el-menu-item index="1-1">我的已购</el-menu-item>
                                <el-menu-item index="1-2">我的售出</el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>

                        <el-menu-item index="4">
                            <i class="el-icon-star-off"></i>
                            <span slot="title">商品收藏</span>
                        </el-menu-item>
                        <el-menu-item index="5">
                            <i class="el-icon-position"></i>
                            <span slot="title">收货地址</span>
                        </el-menu-item>
                    </el-menu>
                </el-col>
            </el-row>
        </el-aside>

        <el-main style="float: right">
            <div id="app">
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item :to="{ path: '/' }">个人中心</el-breadcrumb-item>
                    <el-breadcrumb-item>收货地址</el-breadcrumb-item>
                </el-breadcrumb>
            </div>

            <div class="nav-p" style="font-weight: bold"></div>
            <div class="u-address-title">
                <strong>已经保存的收货地址</strong>
            </div>
            <div class="m-own-address-box">
                <div class="m-address-info m-address-info-default">
                    <p class="u-name">张三</p>
                    <p class="u-address u-address-type-other" title="福建省 厦门市 翔安区 新店镇  厦门大学(翔安校区)芙蓉公寓">
                        福建省 厦门市 翔安区 新店镇 厦门大学(翔安校区)芙蓉公寓<br>
                    </p>
                    <p class="u-contact u-telephone">
                        <span>159*****817</span>
                    </p>
                </div>
            </div>
            <div class="m-address-form m-form">
                <h3 class="u-add-title">新增收货地址</h3>
<!--                <h3 class="u-modify-title" v-show="formType === 'modifyForm'">修改收货地址</h3>-->
                <el-form id="addr-form" :model="newForm" :rules="newRules" ref="newForm" label-width="100px"
                         class="demo-ruleForm address-form-item-content">
                    <el-form-item label="收货人" prop="name">
                        <el-input v-model="newForm.name" placeholder="收货人姓名"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号" prop="telephone">
                        <el-input v-model="newForm.telephone" placeholder="手机号"></el-input>
                    </el-form-item>
                    <el-form-item label="所在地区" prop="address">
                        <el-input v-model="newForm.address" placeholder="所在地区"></el-input>
                    </el-form-item>
                    <el-form-item label="详细地址" prop="deaddress">
                        <el-input v-model="newForm.deaddress" placeholder="详细地址"></el-input>
                    </el-form-item>
                    <el-form-item label="地址类型" prop="addrtype">
                        <el-radio-group v-model="newForm.addrtype">
                            <el-radio label="学校"></el-radio>
                            <el-radio label="家庭"></el-radio>
                            <el-radio label="其他"></el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item prop="defaultaddr">
                        <el-checkbox label="设为默认地址" v-model="newForm.defaultaddr" name="defaultaddr"></el-checkbox>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('newForm')">保存</el-button>
                        <el-button @click="resetForm('newForm')">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>

        </el-main>
    </el-container>
</el-container>


</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="//unpkg.com/element-ui@2.15.3/lib/index.js"></script>

<script src="../js/header.js"></script>

<script src="../js/address.js"></script>

<style lang="less" scoped>
</style>

</html>