<!doctype html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../external/element-ui/css/index.css">
    <link rel="stylesheet" href="../external/olex/css/bootstrap.min.css">
    <link rel="stylesheet" href="../external/olex/css/animate.min.css">
    <link rel="stylesheet" href="../external/olex/fonts/flaticon.css">
    <link rel="stylesheet" href="../external/olex/css/boxicons.min.css">
    <link rel="stylesheet" href="../external/olex/css/magnific-popup.css">
    <link rel="stylesheet" href="../external/olex/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../external/olex/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../external/olex/css/nice-select.min.css">
    <link rel="stylesheet" href="../external/olex/css/meanmenu.css">
    <link rel="stylesheet" href="../external/olex/css/style.css">
    <link rel="stylesheet" href="../external/olex/css/responsive.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>购物车</title>
</head>

<body>
<div class="preloader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<div id="page-header">
    <page-header></page-header>
</div>
<!-- Start Navbar Area -->
<div class="navbar-area">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
        <a href="../index.html" class="logo">
            <img src="../img/logo.png" alt="Logo">
        </a>
    </div>


    <div class="side-nav-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center align-items-center">
                        <div class="side-item">

                            <div class="nav-other-item">
                                <div class="cart-btn-area">
                                    <a href="#" class="cart-btn"><i class='bx bx-cart'></i></a>
                                    <span>1</span>
                                </div>
                            </div>

                            <div class="nav-other-item">
                                <div class="option-btn">
                                    <a href="../log-in.html" class="default-btn">登录/注册</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar Area -->

<!-- Start Cart Area -->
<section class="cart-wraps-area ptb-100">
    <div class="container">
        <div class="section-title" style="margin-bottom: 50px;margin-top: 10px">
            <h2>我的购物车</h2>
        </div>
        <div class="row" id="myCart">
            <div class="col-lg-12 col-md-12">
                <form>
                    <div class="cart-wraps">
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">商品</th>
                                    <th scope="col">名称</th>
                                    <th scope="col">单价</th>
                                    <th scope="col" style="padding-left: 45px">数量</th>
                                    <th scope="col">总价</th>
                                </tr>
                                </thead>


                                <tbody>
                                <tr v-for="cart in carts" :key="cart.itemId">
                                    <td class="product-thumbnail">
                                        <a :href=cart.url>
                                            <img :src=cart.imageUrl alt="Image">
                                        </a>
                                    </td>

                                    <td class="product-name">
                                        <a :href=cart.url>{{cart.itemName}}</a>
                                    </td>

                                    <td class="product-price">
                                        <span class="unit-amount">￥{{cart.price}}</span>
                                    </td>

                                    <td class="product-quantity">
                                        <div class="adder">
                                            <span class="quantity-label"></span>
                                            <el-input-number v-model=cart.quantity :min=1 :max=cart.max
                                                             size="small"
                                                             @change="changeQuantity(cart.itemId,cart.quantity)"></el-input-number>
                                            <span class="stock-label"> 件（库存 {{cart.max}} 件）</span>
                                        </div>
                                        <!--                                        <div class="input-counter">-->
                                        <!--                                            <span class="minus-btn">-->
                                        <!--                                                <i class='bx bx-minus'></i>-->
                                        <!--                                            </span>-->
                                        <!--                                            <input type="text" v-model=cart.quantity>-->
                                        <!--                                            <span class="plus-btn">-->
                                        <!--                                                <i class='bx bx-plus'></i>-->
                                        <!--                                            </span>-->
                                        <!--                                        </div>-->
                                    </td>

                                    <td class="product-subtotal">
                                        <span class="subtotal-amount">￥{{cart.total}}</span>

                                        <a href="#" class="remove">
                                            <i class='bx bx-trash'></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="cart-buttons">
                            <div class="row align-items-center">
                                <div class="col-lg-7 col-sm-7 col-md-7">
                                    <div class="continue-shopping-box">
                                        <a class="default-btn btn-bg-three selectable" @click="returnToShop">
                                            继续购物
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-5 col-sm-5 col-md-5 text-right">
                                    <a class="default-btn btn-bg-three selectable" @click="checkout">
                                        立即结算
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Cart Area -->
</body>

<script src="../external/vue/js/vue.js"></script>
<script src="../external/element-ui/js/index.js"></script>
<script src="../external/jquery/js/jquery.min.js"></script>
<script src="../external/jquery/js/jquery.cookie.min.js"></script>
<script src="../external/olex/js/popper.min.js"></script>
<script src="../external/olex/js/bootstrap.min.js"></script>
<script src="../external/olex/js/jquery.magnific-popup.min.js"></script>
<script src="../external/olex/js/owl.carousel.min.js"></script>
<script src="../external/olex/js/jquery.nice-select.min.js"></script>
<script src="../external/olex/js/wow.min.js"></script>
<script src="../external/olex/js/meanmenu.js"></script>
<script src="../external/olex/js/jquery.ajaxchimp.min.js"></script>
<script src="../external/olex/js/form-validator.min.js"></script>
<script src="../external/olex/js/contact-form-script.js"></script>
<script src="../external/olex/js/mixitup.min.js"></script>
<script src="../external/olex/js/custom.js"></script>
<script src="../js/core.js"></script>
<script src="../js/header.js"></script>
<script src="../js/cart.js"></script>


</html>
