<!doctype html>
<html lang="zh-ch">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../external/element-ui/css/index.css">
    <link rel="stylesheet" href="../external/olex/css/bootstrap.min.css">
    <link rel="stylesheet" href="../external/olex/css/animate.min.css">
    <link rel="stylesheet" href="../external/olex/fonts/flaticon.css">
    <link rel="stylesheet" href="../external/olex/css/boxicons.min.css">
    <link rel="stylesheet" href="../external/olex/css/magnific-popup.css">
    <link rel="stylesheet" href="../external/olex/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../external/olex/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../external/olex/css/nice-select.min.css">
    <link rel="stylesheet" href="../external/olex/css/meanmenu.css">
    <link rel="stylesheet" href="../external/olex/css/style.css">
    <link rel="stylesheet" href="../external/olex/css/responsive.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/item.css">

    <title>商品详情</title>
</head>

<body>
<div class="preloader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>

<div id="page-header">
    <page-header></page-header>
</div>

<!-- Product Details Area -->
<div class="product-details-area pt-100 pb-70">
    <div class="container" id="item-app">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <el-carousel indicator-position="outside">
                    <el-carousel-item v-for="image in imageList" :key="image.name">
                        <img :src=image.url alt="Image">
                    </el-carousel-item>
                </el-carousel>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="product-desc">
                    <h3>{{ item.name }}</h3>
                    <div class="price">
                        <span class="new-price">￥{{ item.price }}</span>
                        <span v-if="item.originalPrice" class="old-price">￥{{ item.originalPrice }}</span>
                    </div>
                    <div>
                        <i class="el-icon-date" style="margin-bottom: 10px"><span
                                style="font-size:15px;font-weight: 500; color: #10142D"> {{ item.releaseDate }}</span></i>
                    </div>
                    <p>
                        {{ item.introduction }}
                    </p>

                    <div style="margin-top: 8%">
                        <el-tag style="margin-right: 15px" v-for="tag in item.itemTags" :key="tag">{{ tag }}</el-tag>
                    </div>

                    <div class="adder">
                        <span class="quantity-label">数量</span>
                        <el-input-number v-model="cnt" :min="min" :max="max" size="small"></el-input-number>
                        <span class="stock-label"> 件（库存 {{max}} 件）</span>
                    </div>

                    <div class="product-add-btn">
                        <button type="submit" class="default-btn btn-bg-three selectable" @click="addToCart">
                            <i class="fas fa-cart-plus"></i> 加入购物车
                        </button>
                        <button type="submit" class="default-btn btn-bg-three selectable" @click="buy">
                            <i class="fas fa-cart-plus"></i> 立即购买
                        </button>
                        <button type="submit" class="default-btn btn-bg-three selectable">
                            <i class="fas fa-cart-plus"></i> 联系商家
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->

<script src="../external/vue/js/vue.js"></script>
<script src="../external/element-ui/js/index.js"></script>
<script src="../external/jquery/js/jquery.min.js"></script>
<script src="../external/jquery/js/jquery.cookie.min.js"></script>
<script src="../external/olex/js/popper.min.js"></script>
<script src="../external/olex/js/bootstrap.min.js"></script>
<script src="../external/olex/js/jquery.magnific-popup.min.js"></script>
<script src="../external/olex/js/owl.carousel.min.js"></script>
<script src="../external/olex/js/jquery.nice-select.min.js"></script>
<script src="../external/olex/js/wow.min.js"></script>
<script src="../external/olex/js/meanmenu.js"></script>
<script src="../external/olex/js/jquery.ajaxchimp.min.js"></script>
<script src="../external/olex/js/form-validator.min.js"></script>
<script src="../external/olex/js/contact-form-script.js"></script>
<script src="../external/olex/js/mixitup.min.js"></script>
<script src="../external/olex/js/custom.js"></script>
<script src="../js/core.js"></script>
<script src="../js/header.js"></script>
<script src="../js/item.js"></script>

</body>
</html>
