<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <title>二手交易市场</title>
    <link rel="stylesheet" href="../external/element-ui/css/index.css">
    <link rel="stylesheet" href="../external/olex/css/bootstrap.min.css">
    <link rel="stylesheet" href="../external/olex/css/animate.min.css">
    <link rel="stylesheet" href="../external/olex/fonts/flaticon.css">
    <link rel="stylesheet" href="../external/olex/css/boxicons.min.css">
    <link rel="stylesheet" href="../external/olex/css/magnific-popup.css">
    <link rel="stylesheet" href="../external/olex/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../external/olex/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../external/olex/css/nice-select.min.css">
    <link rel="stylesheet" href="../external/olex/css/meanmenu.css">
    <link rel="stylesheet" href="../external/olex/css/style.css">
    <link rel="stylesheet" href="../external/olex/css/responsive.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/index.css">

</head>

<body class="body-color">
<div class="preloader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>

<div id="page-header">
    <page-header is-main-page></page-header>
</div>

<div id="main-carousel" style="margin: 20px 50px 0 50px">
    <el-carousel :interval="4000" type="card" height="400px">
        <el-carousel-item v-for="item in carouselList" :key="item.key">
            <img class="el-carousel__img" style="object-fit: contain" :src="item.src">
        </el-carousel-item>
    </el-carousel>
</div>

<section class="product-new-arrival pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-3">
                <div class="section-title">
                    <h2>最新商品</h2>
                </div>
            </div>
        </div>
        <hr class="line-bottom">

        <div id="NewProducts" class="row" v-loading="loading">
            <div class="col-lg-3 col-sm-6 mix smartphone television camera" v-for="item in items" :key="item.id"
                 style="display: inline-block;" data-bound="">
                <div class="arrival-product">
                    <div class="arrival-img">
                        <a :href=item.url>
                            <img :src=item.imageurl alt="Product Images" class="product__img">
                        </a>
                    </div>

                    <div class="content">
                        <h3><a :href=item.url class="ellipsis-type" style="text-overflow: ellipsis">{{item.name}}</a></h3>
                        <div style="margin-top: 8%">
                            <el-tag style="margin-right: 15px" v-for="tag in item.itemTags" :key="tag">{{ tag }}
                            </el-tag>
                        </div>
                        <div class="price-tag">
                            <h4>￥{{item.price}}
                                <del v-if="item.originalPrice">￥{{item.originalPrice}}</del>
                            </h4>
                        </div>

                        <div class="add-btn">
                            <a class="add-cart-btn selectable" @click="openCartDialog(item)">加入购物车</a>
                        </div>

                        <ul class="products-action">
                            <li>
                                <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i
                                        class="bx bx-heart"></i></a>
                            </li>
                            <li>
                                <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View"
                                   data-toggle="modal" data-target="#productsQuickView">
                                    <i class="bx bx-show-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <el-dialog title="加入购物车" :visible.sync="dialogVisibleForCart" width="30%">
                <div class="adder">
                    <span class="quantity-label">数量</span>
                    <el-input-number v-model="cnt" :min=1 :max="max" size="small"></el-input-number>
                    <span class="stock-label"> 件（库存 {{max}} 件）</span>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisibleForCart = false">取 消</el-button>
                    <el-button type="primary" @click="addToCart">确 定</el-button>
                </span>
            </el-dialog>
        </div>
    </div>
</section>
</div>
</div>

<script src="../external/vue/js/vue.js"></script>
<script src="../external/element-ui/js/index.js"></script>
<script src="../external/jquery/js/jquery.min.js"></script>
<script src="../external/jquery/js/jquery.cookie.min.js"></script>
<script src="../external/olex/js/popper.min.js"></script>
<script src="../external/olex/js/bootstrap.min.js"></script>
<script src="../external/olex/js/jquery.magnific-popup.min.js"></script>
<script src="../external/olex/js/owl.carousel.min.js"></script>
<script src="../external/olex/js/jquery.nice-select.min.js"></script>
<script src="../external/olex/js/wow.min.js"></script>
<script src="../external/olex/js/meanmenu.js"></script>
<script src="../external/olex/js/jquery.ajaxchimp.min.js"></script>
<script src="../external/olex/js/form-validator.min.js"></script>
<script src="../external/olex/js/contact-form-script.js"></script>
<script src="../external/olex/js/mixitup.min.js"></script>
<script src="../external/olex/js/custom.js"></script>
<script src="../js/core.js"></script>
<script src="../js/header.js"></script>
<script src="../js/index.js"></script>
</body>

</html>