<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <title>登录 - 二手交易市场</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="../assets/css/animate.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="../assets/fonts/flaticon.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="../assets/css/boxicons.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="../assets/css/nice-select.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="../assets/css/meanmenu.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../assets/images/favicon.png">
</head>
<div id="page-header">
    <page-header></page-header>
</div>
<body class="full-screen-body">
<div class="preloader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<div id="login-box-container">
    <img src="../img/login-page.png">
    <div id="login-box">
        <el-card class="box-card">
            <div class="form-header">
                <label style="color:white" v-show="formType === 'userLogin'">用户登录</label>
                <label style="color:white" v-show="formType === 'adminLogin'">管理员登录</label>
                <label style="color:white" v-show="formType === 'register'">注册</label>
            </div>
            <el-divider class="h-rule"></el-divider>
            <el-form v-show="formType === 'userLogin'" :model="userLoginForm" :rules="userLoginRules"
                     ref="userLoginForm">
                <el-form-item prop="emailOrID">
                    <el-input class="transparency-input" v-model="userLoginForm.emailOrID"
                              placeholder="用户账号/电子邮箱地址"
                              prefix-icon="el-icon-user"></el-input>
                </el-form-item>
                <el-form-item prop="password">
                    <el-input class="transparency-input" type="password" v-model="userLoginForm.password"
                              placeholder="密码"
                              prefix-icon="el-icon-lock"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="onUserLogin" class="submit-button">登录</el-button>
                </el-form-item>
                <el-form-item class="form-bottom">
                    <div class="link-container">
                        <el-link class="link" v-on:click="formType = 'adminLogin'">管理员登录</el-link>
                        <el-link class="link" v-on:click="formType = 'register'">注册账号</el-link>
                    </div>
                </el-form-item>
            </el-form>
            <el-form v-show="formType === 'adminLogin'" :model="adminLoginForm" :rules="adminLoginRules"
                     ref="adminLoginForm">
                <el-form-item prop="id">
                    <el-input class="transparency-input" v-model="adminLoginForm.id"
                              placeholder="管理员账号"
                              prefix-icon="el-icon-user"></el-input>
                </el-form-item>
                <el-form-item prop="password">
                    <el-input class="transparency-input" type="password" v-model="adminLoginForm.password"
                              placeholder="密码"
                              prefix-icon="el-icon-lock"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="onAdminLogin" class="submit-button">登录</el-button>
                </el-form-item>
                <el-form-item class="form-bottom">
                    <div class="link-container">
                        <el-link class="link" v-on:click="formType = 'userLogin'">用户登录</el-link>
                    </div>
                </el-form-item>
            </el-form>
            <el-form v-show="formType === 'register'" status-icon :rules="registerRules" :model="registerForm"
                     ref="registerForm">
                <el-form-item prop="email">
                    <el-input class="transparency-input" v-model="registerForm.email"
                              placeholder="电子邮箱地址"
                              prefix-icon="el-icon-message"></el-input>
                </el-form-item>
                <el-form-item prop="nickname">
                    <el-input class="transparency-input" v-model="registerForm.nickname" placeholder="昵称"
                              prefix-icon="el-icon-user"></el-input>
                </el-form-item>
                <el-form-item prop="password">
                    <el-input class="transparency-input" type="password" v-model="registerForm.password"
                              placeholder="密码"
                              prefix-icon="el-icon-lock"></el-input>
                </el-form-item>
                <el-form-item prop="confirmedPassword">
                    <el-input class="transparency-input" type="password" v-model="registerForm.confirmedPassword"
                              placeholder="确认密码"
                              prefix-icon="el-icon-s-check"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="onRegister" class="submit-button">注册</el-button>
                </el-form-item>
                <el-form-item class="form-bottom">
                    <div class="link-container">
                        <el-link class="link" v-on:click="formType = 'userLogin'">用户登录</el-link>
                        <el-link class="link" v-on:click="formType = 'adminLogin'">管理员登录</el-link>
                    </div>
                </el-form-item>
            </el-form>
        </el-card>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


<!-- Popper Min JS -->
<script src="../assets/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="../assets/js/bootstrap.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="../assets/js/jquery.magnific-popup.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="../assets/js/owl.carousel.min.js"></script>
<!-- Nice Select Min JS -->
<script src="../assets/js/jquery.nice-select.min.js"></script>
<!-- Wow Min JS -->
<script src="../assets/js/wow.min.js"></script>
<!-- Meanmenu JS -->
<script src="../assets/js/meanmenu.js"></script>
<!-- Ajaxchimp Min JS -->
<script src="../assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="../assets/js/form-validator.min.js"></script>
<!-- Contact Form JS -->
<script src="../assets/js/contact-form-script.js"></script>
<!-- Mixitup Min JS -->
<script src="../assets/js/mixitup.min.js"></script>
<!-- Custom JS -->
<script src="../assets/js/custom.js"></script>

<script src="../js/header.js"></script>
<script src="../js/core.js"></script>
<script src="../js/login.js"></script>
</html>