<!doctype html>
<html lang="zxx">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../external/element-ui/css/index.css">
    <link rel="stylesheet" href="../external/olex/css/bootstrap.min.css">
    <link rel="stylesheet" href="../external/olex/css/animate.min.css">
    <link rel="stylesheet" href="../external/olex/fonts/flaticon.css">
    <link rel="stylesheet" href="../external/olex/css/boxicons.min.css">
    <link rel="stylesheet" href="../external/olex/css/magnific-popup.css">
    <link rel="stylesheet" href="../external/olex/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../external/olex/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../external/olex/css/nice-select.min.css">
    <link rel="stylesheet" href="../external/olex/css/meanmenu.css">
    <link rel="stylesheet" href="../external/olex/css/style.css">
    <link rel="stylesheet" href="../external/olex/css/responsive.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/user.css">
    <title>个人中心</title>
</head>

<body>
<div class="preloader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>

<div id="page-header">
    <page-header></page-header>
</div>

<!-- My Account Area -->
<div class="my-account-area ptb-100">
    <div class="container">
        <div class="tab account-tab">
            <div class="row">
                <div class="col-lg-4">
                    <ul class="tabs">
                        <li>
                            <a href="#">
                                我的账户
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                我的商品
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                我的订单
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                我的售出
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                修改密码
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-8">
                    <div class="tab_content current active">
                        <div class="tabs_item current">
                            <div class="account-tab-item">
                                <div class="account-details" id="userinfo-form">
                                    <h2>账户信息</h2>
                                    <div class="account-profile">
                                        <div class="account-profile-img">
                                            <div>
                                                <el-upload
                                                        name="multipartFile"
                                                        class="avatar-uploader"
                                                        action="http://1.15.220.157:8088/requests/user/upload/image"
                                                        :show-file-list="false"
                                                        :on-success="handleAvatarSuccess">
                                                    <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                                    <img v-else src="../img/defaulthead.png">
                                                    <span class="el-upload-action">
                                                        <i class="el-icon-upload2 avatar-uploader-icon"></i>
                                                    </span>
                                                </el-upload>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="account-form">
                                        <el-form :model="form" ref="form" :rules="rules" label-width="60px">
                                            <div class="row" style="inset-inline: inherit">
                                                <el-form-item class="col-lg-12" prop="nickname" label="昵称" required>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" v-model="form.nickname"
                                                               @blur="validateField('nickname')">
                                                    </div>
                                                </el-form-item>

                                                <el-form-item class="col-lg-12" prop="emailAddress" label="邮箱" required>
                                                    <div class="form-group">
                                                        <input type="email" class="form-control"
                                                               v-model="form.emailAddress"
                                                               @blur="validateField('emailAddress')">
                                                    </div>
                                                </el-form-item>

                                                <el-form-item class="col-lg-12" prop="phoneNumber" label="电话">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                               v-model="form.phoneNumber"
                                                               @blur="validateField('phoneNumber')">
                                                    </div>
                                                </el-form-item>

                                                <el-form-item class="col-lg-12"
                                                              style="display: flex; justify-content: flex-end">
                                                    <div class="my-submit-button">
                                                        <el-button type="three" @click="postUserInfo"
                                                                   class="default-btn btn-bg-three">
                                                            确定
                                                        </el-button>
                                                    </div>
                                                </el-form-item>
                                            </div>
                                        </el-form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs_item">
                            <div class="account-tab-item">
                                <div class="checkout-order">
                                    <h2>我发布的商品</h2>
                                    <h3 class="title-item"><span
                                            style="margin-left: 90px">商品名称</span><span
                                            style="margin-left: 85px">数量</span><span
                                            style="margin-left: 73px">价格</span>
                                        <span style="margin-left: 68px">商品状态</span><span
                                                style="margin-left: 90px">操作</span></h3>

                                    <ul class="checkout-product" id="myItems">
                                        <li v-for="item in items" :key="item.itemId">

                                            <img :src=item.imageurl alt="Images" style="width: 80px;height: 80px;background-color: #F6F6F6;position: absolute;left: 0;top: 20px;">
                                            <div class="price-tag" style="left: 12%">
                                                <h3><a :href=item.url class="ellipsis-type"
                                                       style="text-overflow: ellipsis">{{item.name}}</a></h3>
                                            </div>
                                            <br>
                                            <div class="price-tag" style="left: 33%;top:40%">{{item.quantity}}</div>
                                            <div class="price-tag" style="left: 44%;top:40%">￥{{item.price}}</div>
                                            <div class="price-tag" style="left: 57%;top:40%">
                                                <i v-if="item.checkCondition === '审核未通过'" class="bx bx-x-circle">
                                                    <div class="status-icon">{{item.checkCondition}}</div>
                                                </i>
                                                <i v-if="item.checkCondition === '审核中'" class="bx bx-revision">
                                                    <div class="status-icon">{{item.checkCondition}}</div>
                                                </i>
                                                <i v-if="item.checkCondition === '审核通过'" class="bx bx-check-circle">
                                                    <div class="status-icon">{{item.checkCondition}}</div>
                                                </i>
                                            </div>
                                            <div class="price-tag" style="left: 75%;top:35%">
                                                <el-button type="text" @click="openUpdateDialog(item)">
                                                    修改
                                                </el-button>
                                            </div>
                                            <div class="price-tag" style="left: 82%;top:35%">
                                                <el-button type="text" @click="openDeleteDialog(item.id)">
                                                    删除
                                                </el-button>
                                            </div>
                                            <br>
                                        </li>
                                        <el-dialog title="修改物品" :before-close="clear"
                                                   :visible.sync="dialogVisibleForUpdate" width="50%">
                                            <el-form ref="form" :model="form" label-width="80px">
                                                <el-form-item label="物品名称">
                                                    <el-input v-model="form.name"></el-input>
                                                </el-form-item>
                                                <el-form-item label="物品数量">
                                                    <el-input v-model="form.quantity"></el-input>
                                                </el-form-item>
                                                <el-form-item label="物品价格">
                                                    <el-input v-model="form.price"></el-input>
                                                </el-form-item>
                                                <el-form-item label="物品简介">
                                                    <el-input type="textarea"
                                                              :rows="4"
                                                              class="textarea"
                                                              placeholder="请输入内容"
                                                              v-model="form.introduction">
                                                    </el-input>
                                                </el-form-item>
                                                <el-form-item label="图片上传">

                                                    <el-upload
                                                            name="multipartfiles"
                                                            action="http://localhost:8088/requests/upload/image"
                                                            :on-success="onPostImageSuccessfully"
                                                            :on-remove="onRemoveImage"
                                                            list-type="picture-card"
                                                            :show-file-list="true"
                                                            :file-list="form.imageList"
                                                            multiple>
                                                        <i class="el-icon-upload"></i>
                                                    </el-upload>
                                                </el-form-item>
                                            </el-form>
                                            <span slot="footer" class="dialog-footer">
                                                        <el-button
                                                                @click="clear">取 消</el-button>
                                                        <el-button type="primary"
                                                                   @click="updateItem">确 定</el-button>
                                                    </span>
                                        </el-dialog>
                                        <el-dialog title="删除物品" :visible.sync="dialogVisibleForDelete" width="30%">
                                            是否确定要删除该商品？
                                            <span slot="footer" class="dialog-footer">
                                                        <el-button
                                                                @click="dialogVisibleForDelete = false">取 消</el-button>
                                                        <el-button type="primary"
                                                                   @click="deleteItem">确 定</el-button>
                                                    </span>
                                        </el-dialog>
                                    </ul>

                                    <div class="col-lg-12 col-md-12 text-center">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tabs_item" id="myOrders">
                            <div class="account-tab-item">
                                <div class="checkout-order">
                                    <div>
                                        <h2 style="display: inline-block">我的订单</h2>
                                        <div class="form-group" style="display: inline-block; margin-left: 58%">
                                            <el-select v-model="selectedType" style="padding: 0 0"
                                                       @change="getOrderList">
                                                <el-option v-for="option in options"
                                                           :value="option.value" :key="option.key"
                                                           :label="option.text">
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>
                                    <h3 class="title-item"><span style="margin-left: 100px">商品名称</span>
                                        <span style="margin-left: 70px">数量</span><span
                                                style="margin-left: 75px">金额</span>
                                        <span style="margin-left: 76px">订单状态</span>
                                        <span style="margin-left: 84px">操作</span></h3>
                                    <ul class="checkout-product" v-show="orders.length">
                                        <li v-for="order in orders" :key="order.id">
                                            <img :src=order.imageurl alt="Images" style="width: 80px;height: 80px;background-color: #F6F6F6;position: absolute;left: 0;top: 20px;">
                                            <div class="price-tag" style="left: 12%">
                                                <h3><a :href=order.url class="ellipsis-type"
                                                       style="text-overflow: ellipsis">{{order.name}}</a></h3>
                                            </div>
                                            <br>
                                            <div class="price-tag" style="left: 31.5%;top:40%">
                                                {{order.quantity}}
                                            </div>
                                            <div class="price-tag" style="left: 44%;top:40%">￥{{order.price}}
                                            </div>
                                            <div class="price-tag" style="left: 59%;top:40%">
                                                <i v-if="order.state.value === 'UNPAID'" class="bx bx-wallet-alt">
                                                    <div class="status-icon">{{order.state.text}}</div>
                                                </i>
                                                <i v-if="order.state.value === 'UNDELIVERED'" class="bx bx-package">
                                                    <div class="status-icon">{{order.state.text}}</div>
                                                </i>
                                                <i v-if="order.state.value === 'UNRECEIVED'" class="bx bxs-truck">
                                                    <div class="status-icon">{{order.state.text}}</div>
                                                </i>
                                                <i v-if="order.state.value === 'FINISHED'" class="bx bx-check-circle">
                                                    <div class="status-icon">{{order.state.text}}</div>
                                                </i>
                                            </div>
                                            <div v-show="order.state.value === 'UNPAID'" class="price-tag"
                                                 style="left: 77%;top:35%">
                                                <el-button type="text">
                                                    付款
                                                </el-button>
                                            </div>
                                            <div v-show="order.state.value === 'UNDELIVERED'" class="price-tag"
                                                 style="left: 77%;top:35%">
                                                <el-button type="text" @click="onCancel(order.id)">
                                                    取消订单
                                                </el-button>
                                            </div>
                                            <div v-show="order.state.value === 'UNRECEIVED'" class="price-tag"
                                                 style="left: 77%;top:35%">
                                                <el-button type="text" @click="onReceive(order.id)">
                                                    确认收货
                                                </el-button>
                                            </div>
                                            <div v-show="order.state.value === 'FINISHED'" class="price-tag"
                                                 style="left: 77%;top:35%">
                                                <el-button type="text">
                                                    填写评价
                                                </el-button>
                                            </div>
                                            <br>
                                        </li>
                                        <el-dialog title="取消订单" :visible.sync="dialogVisibleForCancel" width="30%">
                                            是否确定取消订单？
                                            <span slot="footer" class="dialog-footer">
                                                <el-button
                                                        type="primary"
                                                        @click="confirmCancel">确 定
                                                </el-button>
                                            </span>
                                        </el-dialog>
                                        <el-dialog title="确认收货" :visible.sync="dialogVisibleForConfirm" width="30%">
                                            是否确定已收货？
                                            <span slot="footer" class="dialog-footer">
                                                <el-button
                                                        @click="dialogVisibleForConfirm = false">取 消
                                                </el-button>
                                                <el-button
                                                        type="primary"
                                                        @click="confirm">确 定
                                                </el-button>
                                            </span>
                                        </el-dialog>
                                    </ul>
                                    <el-empty v-show="orders.length === 0" description="暂无订单"></el-empty>
                                </div>
                            </div>
                        </div>

                        <div class="tabs_item" id="mySells">
                            <div class="account-tab-item">
                                <div class="checkout-order">
                                    <div>
                                        <h2 style="display: inline-block">我的售出</h2>
                                        <div class="form-group" style="display: inline-block; margin-left: 58%">
                                            <el-select v-model="selectedType" style="padding: 0 0"
                                                       @change="getOrderList">
                                                <el-option v-for="option in options"
                                                           :value="option.value" :key="option.key"
                                                           :label="option.text">
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>
                                    <!--                                    <h2>我的售出</h2>-->
                                    <h3 class="title-item"><span style="margin-left: 100px">商品名称</span><span
                                            style="margin-left: 70px">数量</span><span style="margin-left: 75px">金额</span>
                                        <span style="margin-left: 74px">订单状态</span>
                                        <span style="margin-left: 84px">操作</span></h3>
                                    <ul v-show="orders.length" class="checkout-product">
                                        <li v-for="order in orders" :key="order.id">
                                            <img :src=order.imageurl alt="Images" style="width: 80px;height: 80px;background-color: #F6F6F6;position: absolute;left: 0;top: 20px;">
                                            <div class="price-tag" style="left: 12%">
                                                <h3><a :href=order.url class="ellipsis-type"
                                                       style="text-overflow: ellipsis">{{order.name}}</a></h3>
                                            </div>
                                            <br>
                                            <div class="price-tag" style="left: 31.5%;top:40%">
                                                {{order.quantity}}
                                            </div>
                                            <div class="price-tag" style="left: 44%;top:40%">￥{{order.price}}
                                            </div>
                                            <div class="price-tag"
                                                 style="left: 58.5%;top:40%">
                                                <i v-if="order.state.value === 'UNPAID'" class="bx bx-wallet-alt">
                                                    <div class="status-icon">{{order.state.text}}</div>
                                                </i>
                                                <i v-if="order.state.value === 'UNDELIVERED'" class="bx bx-package">
                                                    <div class="status-icon">{{order.state.text}}</div>
                                                </i>
                                                <i v-if="order.state.value === 'UNRECEIVED'" class="bx bxs-truck">
                                                    <div class="status-icon">{{order.state.text}}</div>
                                                </i>
                                                <i v-if="order.state.value === 'FINISHED'" class="bx bx-check-circle">
                                                    <div class="status-icon">{{order.state.text}}</div>
                                                </i>
                                            </div>
                                            <div v-show="order.state.value === 'UNDELIVERED'"
                                                 class="price-tag"
                                                 style="left: 76%;top:35%">
                                                <el-button type="text" @click="onDeliver(order.id)">
                                                    我已发货
                                                </el-button>
                                            </div>
                                        </li>
                                        <el-dialog title="确认发货" :visible.sync="dialogVisibleForConfirm" width="30%">
                                            是否确定已发货？
                                            <span slot="footer" class="dialog-footer">
                                                <el-button
                                                        @click="dialogVisibleForConfirm = false">取 消
                                                </el-button>
                                                <el-button
                                                        type="primary"
                                                        @click="confirm">确 定
                                                </el-button>
                                            </span>
                                        </el-dialog>
                                    </ul>
                                    <el-empty v-show="orders.length === 0" description="暂无订单"></el-empty>

                                    <div class="col-lg-12 col-md-12 text-center">
                                        <div class="pagination-area">
                                            <a href="#" class="prev page-numbers">
                                                <i class="bx bx-chevron-left"></i>
                                            </a>

                                            <span class="page-numbers current" aria-current="page">1</span>
                                            <a href="#" class="page-numbers">2</a>
                                            <a href="#" class="page-numbers">3</a>

                                            <a href="#" class="next page-numbers">
                                                <i class="bx bx-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs_item">
                            <div class="account-tab-item">
                                <div class="account-details">
                                    <h2>修改密码</h2>
                                    <div class="account-form" id="password-form">
                                        <el-form :model="form" ref="form" label-width="80px" :rules="rules">
                                            <div class="row" style="inset-inline: inherit">
                                                <el-form-item class="col-lg-12" prop="oldPassword" label="旧密码" required>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control"
                                                               placeholder="旧密码" v-model="form.oldPassword"
                                                               @blur="validateField('oldPassword')">
                                                    </div>
                                                </el-form-item>

                                                <el-form-item class="col-lg-12" prop="newPassword" label="新密码" required>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control"
                                                               placeholder="新密码" v-model="form.newPassword"
                                                               @blur="validateField('newPassword')">
                                                    </div>
                                                </el-form-item>

                                                <el-form-item class="col-lg-12" prop="newPassword1" label="确认密码">
                                                    <div class="form-group">
                                                        <input type="password" class="form-control"
                                                               placeholder="确认密码" v-model="form.newPassword1"
                                                               @blur="validateField('newPassword1')">
                                                    </div>
                                                </el-form-item>

                                                <el-form-item class="col-lg-12"
                                                              style="display: flex; justify-content: flex-end">
                                                    <div class="my-submit-button">
                                                        <el-button type="three" @click="postPassword"
                                                                   class="default-btn btn-bg-three"
                                                                   style="border-radius: 5px">
                                                            确定
                                                        </el-button>
                                                    </div>
                                                </el-form-item>
                                            </div>
                                        </el-form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- My Account Area End -->

</body>

<script src="../external/vue/js/vue.js"></script>
<script src="../external/element-ui/js/index.js"></script>
<script src="../external/jquery/js/jquery.min.js"></script>
<script src="../external/jquery/js/jquery.cookie.min.js"></script>
<script src="../external/olex/js/popper.min.js"></script>
<script src="../external/olex/js/bootstrap.min.js"></script>
<script src="../external/olex/js/jquery.magnific-popup.min.js"></script>
<script src="../external/olex/js/owl.carousel.min.js"></script>
<script src="../external/olex/js/jquery.nice-select.min.js"></script>
<script src="../external/olex/js/wow.min.js"></script>
<script src="../external/olex/js/meanmenu.js"></script>
<script src="../external/olex/js/jquery.ajaxchimp.min.js"></script>
<script src="../external/olex/js/form-validator.min.js"></script>
<script src="../external/olex/js/contact-form-script.js"></script>
<script src="../external/olex/js/mixitup.min.js"></script>
<script src="../external/olex/js/custom.js"></script>
<script src="../js/core.js"></script>
<script src="../js/header.js"></script>
<script src="../js/user.js"></script>

<style scoped lang='less'>
    .avatar-uploader {
        margin-left: 10px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        /*background: url('../img/defaulthead.png') no-repeat;*/
        background-size: 100% 100%;
    }

    .avatar-uploader-icon {
        font-size: 0;
        color: #fff;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
    }

    .avatar-uploader-icon:hover {
        font-size: 28px;
        background-color: rgba(0, 0, 0, .3);
    }

    .avatar {
        width: 70px;
        height: 70px;
        object-fit: scale-down;
        position: relative;
        display: block;
    }

    .el-upload-action {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
        color: #fff;
        text-align: center;
        /*line-height: 120px;*/
    }

    .el-upload-action:hover {
        font-size: 20px;
        background-color: #000;
        background-color: rgba(0, 0, 0, .3)
    }
</style>
<style>
    .ellipsis-type {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
    }

    .ellipsis-type:hover {
        text-overflow: inherit;
        overflow: visible;
    }
</style>
</html>
