<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>发布商品</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/post.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="../assets/css/animate.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="../assets/fonts/flaticon.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="../assets/css/boxicons.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="../assets/css/nice-select.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="../assets/css/meanmenu.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../assets/images/favicon.png">

</head>
<body class="body-color">
<div id="page-header">
    <page-header></page-header>
</div>
<div class="preloader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<div class="app">
    <div class="inner">
        <div class="content-box">
            <h4 class="text-center title" style="padding-top: 20px;">发布商品</h4>
            <div id="post-form">
                <el-form ref="postForm" :model="postForm" :rules="postFormRules" label-width="80px" size="medium">
                    <el-form-item label="名称" prop="name" required>
                        <el-input v-model="postForm.name"></el-input>
                    </el-form-item>
                    <el-form-item label="简介" prop="introduction">
                        <el-input
                                type="textarea"
                                :rows="2"
                                class="textarea"
                                placeholder="请输入内容"
                                v-model="postForm.introduction">
                        </el-input>
                    </el-form-item>
                    <el-form-item label="类型" prop="type" required>
                        <el-select v-model="postForm.type">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="数量" prop="quantity" required>
                        <el-input-number v-model="postForm.quantity" :min="1" :max="999"></el-input-number>
                    </el-form-item>
                    <el-form-item label="单价" prop="price" required>
                        <el-input v-model="postForm.price"></el-input>
                    </el-form-item>
                    <el-form-item label="原价">
                        <el-input v-model="postForm.originalPrice"></el-input>
                    </el-form-item>
                    <el-form-item label="标签">
                        <el-tag v-for="tag in presetTags" :key="tag.name" @click="switchType(tag)" :type="tag.type"
                                class="selectable"> {{tag.name}}
                        </el-tag>
                        <tags-appender ref="tagsAppender"></tags-appender>
                    </el-form-item>
                    <el-form-item label="图片上传">
                        <el-upload
                                drag
                                name="multipartfiles"
                                action="http://1.15.220.157:8088/requests/upload/image"
                                :on-success="onPostImageSuccessfully"
                                :on-remove="onRemoveImage"
                                list-type="picture"
                                multiple>
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                            <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
                        </el-upload>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" style="width:100%" @click="onPost">提交</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</div>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<!-- Popper Min JS -->
<script src="../assets/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="../assets/js/bootstrap.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="../assets/js/jquery.magnific-popup.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="../assets/js/owl.carousel.min.js"></script>
<!-- Nice Select Min JS -->
<script src="../assets/js/jquery.nice-select.min.js"></script>
<!-- Wow Min JS -->
<script src="../assets/js/wow.min.js"></script>
<!-- Meanmenu JS -->
<script src="../assets/js/meanmenu.js"></script>
<!-- Ajaxchimp Min JS -->
<script src="../assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="../assets/js/form-validator.min.js"></script>
<!-- Contact Form JS -->
<script src="../assets/js/contact-form-script.js"></script>
<!-- Mixitup Min JS -->
<script src="../assets/js/mixitup.min.js"></script>
<!-- Custom JS -->
<script src="../assets/js/custom.js"></script>

<script src="../js/header.js"></script>
<script src="../js/tagsappender.js"></script>
<script src="../js/post.js"></script>

<style>
    .grid-content {
        margin-top: 8px;
        margin-left: 300px;
        margin-right: 300px;
        border-radius: 20px;
        font-size: 18px;
    }

</style>

<style>
    .el-tag + .el-tag {
        margin-left: 10px;
    }

    .button-new-tag {
        margin-left: 10px;
        height: 32px;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .input-new-tag {
        width: 90px;
        margin-left: 10px;
        vertical-align: bottom;
    }
</style>

</html>