<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>发布商品</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="page-header">
    <page-header></page-header>
</div>
<div class="main-nav">
    <div class="page-header">
        <div class="nav-atag">
            发布商品
        </div>
        <div class="nav-index">
            <a href="index.html" class="nav-index">首页</a>
        </div>
        <div class="nav-cart">
            <a href="index.html" class="nav-cart">购物车</a>
        </div>
    </div>
</div>

<div class="app">
    <div class="inner">
        <div class="content-box">
            <h2 class="text-center title">发布商品</h2>
            <div id="post-form">
                <el-form ref="postForm" :model="postForm" :rules="postFormRules" label-width="80px" size="medium">
                    <el-form-item label="名称" prop="name" required>
                        <el-input v-model="postForm.name"></el-input>
                    </el-form-item>
                    <el-form-item label="简介">
                        <el-input
                                type="textarea"
                                :rows="2"
                                class="textarea"
                                placeholder="请输入内容"
                                v-model="postForm.textarea">
                        </el-input>
                    </el-form-item>
                    <el-form-item label="类型" prop="type" required>
                        <el-select v-model="postForm.type">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="数量" prop="quantity" required>
                        <el-input-number v-model="postForm.quantity" :min="1" :max="999"></el-input-number>
                    </el-form-item>
                    <el-form-item label="单价" prop="price" required>
                        <el-input v-model="postForm.price"></el-input>
                    </el-form-item>
                    <el-form-item label="原价">
                        <el-input v-model="postForm.originalPrice"></el-input>
                    </el-form-item>
                    <el-form-item label="标签">
                        <el-tag v-for="tag in presetTags" :key="tag.name" @click="switchType(tag)" :type="tag.type"
                                class="selectable"> {{tag.name}}
                        </el-tag>
                        <tags-appender ref="tagsAppender"></tags-appender>
                    </el-form-item>
                    <el-form-item label="图片上传">
                        <!-- TODO 这里的url上线时要改 -->
                        <el-upload
                                drag
                                action=https://jsonplaceholder.typicode.com/posts/
                                :on-success="onPostImageSuccessfully"
                                :file-list="fileList"
                                multiple>
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                            <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
                        </el-upload>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" style="width:500px" @click="onPost">提交</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</div>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script src="../js/header.js"></script>
<script src="../js/tagsappender.js"></script>
<script src="../js/post.js"></script>

<style>
    .grid-content {
        margin-top: 8px;
        margin-left: 300px;
        margin-right: 300px;
        border-radius: 20px;
        font-size: 18px;
    }

</style>

<style>
    .el-tag + .el-tag {
        margin-left: 10px;
    }

    .button-new-tag {
        margin-left: 10px;
        height: 32px;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .input-new-tag {
        width: 90px;
        margin-left: 10px;
        vertical-align: bottom;
    }
</style>

</html>