<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>订单管理</title>
    <meta content="Admin Dashboard" name="description"/>
    <meta content="ThemeDesign" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="stylesheet" href="../external/element-ui/css/index.css">

    <!-- DataTables -->
    <link href="../external/admin/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="../external/admin/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <!-- Responsive datatable examples -->
    <link href="../external/admin/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css"/>

    <link href="../external/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../external/admin/css/icons.css" rel="stylesheet" type="text/css">
    <link href="../external/admin/css/style.css" rel="stylesheet" type="text/css">

    <!-- Sweet Alert -->
    <link href="../external/admin/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../css/tables-orders.css">
</head>


<body class="fixed-left">

<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>

<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
            <i class="ion-close"></i>
        </button>

        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <!--<a href="index.html" class="logo">Admiry</a>-->
                <a href="index.html" class="logo">
                    后台管理
                </a>
            </div>
        </div>

        <div class="sidebar-inner slimscrollleft">
            <div class="user-details">
                <div class="text-center">
                    <img src="../img/admin_profile.png" alt="" class="rounded-circle">
                </div>
                <div class="user-info" id="admin-info">
                    <h4 class="font-16 text-white">{{nickname}}</h4>
                    <span class="text-white"><i class="fa fa-dot-circle-o text-success"></i> Online</span>
                </div>
            </div>

            <div id="sidebar-menu">
                <ul>
                    <!--                    <li>-->
                    <!--                        <a href="index.html" class="waves-effect"><i class="ti-home"></i>-->
                    <!--                            <span>主页</span></a>-->
                    <!--                    </li>-->

                    <li>
                        <a href="../admin-user" class="waves-effect"><i class="ion-person-stalker"></i>
                            <span>用户管理</span> </a>
                    </li>

                    <li>
                        <a href="../admin-item" class="waves-effect"><i class="ion-bag"></i>
                            <span>商品管理</span> </span></a>
                    </li>

                    <li>
                        <a href="../admin-order" class="waves-effect"><i class="ion-ios7-paper"></i>
                            <span>订单管理</span> </span></a>
                    </li>

                    <!--                    <li>-->
                    <!--                        <a href="tables-basic.html" class="waves-effect"><i class="ion-person"></i>-->
                    <!--                            <span>管理员信息</span> <span class="badge badge-success pull-right">8</span></a>-->
                    <!--                    </li>-->

                </ul>
            </div>
            <div class="clearfix"></div>
        </div> <!-- end sidebarinner -->
    </div>
    <!-- Left Sidebar End -->

    <!-- Start right Content here -->

    <div class="content-page">
        <!-- Start content -->
        <div class="content">

            <!-- Top Bar Start -->
            <div class="topbar">
                <nav class="navbar-custom">
                    <ul class="list-inline float-right mb-0">
                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#"
                               role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <i class="mdi mdi-email-outline noti-icon"></i>
                                <span class="badge badge-danger noti-icon-badge">5</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5><span class="badge badge-danger float-right">745</span>Messages</h5>
                                </div>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="../external/admin/images/users/avatar-2.jpg"
                                                                  alt="user-img"
                                                                  class="img-fluid rounded-circle"/></div>
                                    <p class="notify-details"><b>Charles M. Jones</b><small class="text-muted">Dummy
                                        text of the printing and typesetting industry.</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="../external/admin/images/users/avatar-3.jpg"
                                                                  alt="user-img"
                                                                  class="img-fluid rounded-circle"/></div>
                                    <p class="notify-details"><b>Thomas J. Mimms</b><small class="text-muted">You have
                                        87 unread messages</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="../external/admin/images/users/avatar-4.jpg"
                                                                  alt="user-img"
                                                                  class="img-fluid rounded-circle"/></div>
                                    <p class="notify-details"><b>Luis M. Konrad</b><small class="text-muted">It is a
                                        long established fact that a reader will</small></p>
                                </a>

                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    View All
                                </a>

                            </div>
                        </li>

                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#"
                               role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <i class="mdi mdi-bell-outline noti-icon"></i>
                                <span class="badge badge-success noti-icon-badge">3</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5><span class="badge badge-danger float-right">87</span>Notification</h5>
                                </div>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                    <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy
                                        text of the printing and typesetting industry.</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-success"><i class="mdi mdi-message"></i></div>
                                    <p class="notify-details"><b>New Message received</b><small class="text-muted">You
                                        have 87 unread messages</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning"><i class="mdi mdi-martini"></i></div>
                                    <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is
                                        a long established fact that a reader will</small></p>
                                </a>

                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    View All
                                </a>

                            </div>
                        </li>

                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown"
                               href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src="../img/admin_profile.png" alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown " id="admin-menu">
                                <a class="dropdown-item" @click="logout"><i class="mdi mdi-logout m-r-5 text-muted"></i>
                                    退出登录</a>
                            </div>
                        </li>

                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="list-inline-item">
                            <button type="button" class="button-menu-mobile open-left waves-effect">
                                <i class="ion-navicon"></i>
                            </button>
                        </li>
                        <li class="hide-phone list-inline-item app-search">
                            <h3 class="page-title">订单管理</h3>
                        </li>
                    </ul>

                    <div class="clearfix"></div>

                </nav>

            </div>
            <!-- Top Bar End -->

            <div class="page-content-wrapper ">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body" id="ordersTable">

                                    <h4 class="mt-0 header-title">订单信息</h4>
                                    <div class="row align-items-center" style="padding-left: 15px">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="top-header-form">
                                                <form onsubmit="return false;">
                                                    <div class="row">

                                                        <div class="col-lg-2 col-md-2">
                                                            <div class="form-group">
                                                                <el-select class="form-control" v-model="selectedType"
                                                                           style="padding: 0 0">
                                                                    <el-option v-for="option in options"
                                                                               :value="option.value" :key="option.key"
                                                                               :label="option.text">
                                                                    </el-option>
                                                                </el-select>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-md-3">
                                                            <div class="form-group search-form">
                                                                <input type="search" class="form-control"
                                                                       placeholder="Search" v-model="searchContent"
                                                                       @keydown.enter="onSearch">

                                                            </div>
                                                        </div>

                                                        <el-date-picker v-model="selectDatetime"
                                                                        type="datetimerange"
                                                                        size="medium"
                                                                        start-placeholder="开始时间"
                                                                        end-placeholder="结束时间"
                                                                        range-separator="至"
                                                                        @change="dateSearch"
                                                                        value-format="yyyy-MM-dd HH:mm:ss"
                                                                        format="yyyy-MM-dd HH:mm:ss">
                                                        </el-date-picker>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <el-table
                                                :data="tableDataResult.slice((currentPage - 1) * pageSize, currentPage * pageSize)"
                                                style="width: 100%" class="table table-bordered" v-loading="loading"
                                                @filter-change="unionSearch">
                                            <el-table-column type="expand">
                                                <template slot-scope="props">
                                                    <el-form label-position="left" inline class="demo-table-expand">
                                                        <el-form-item label="订单号">
                                                            <span>{{props.row.id}}</span>
                                                        </el-form-item>
                                                        <el-form-item label="买家编号">
                                                            <span>{{props.row.buyer}}</span>
                                                        </el-form-item>
                                                        <el-form-item label="买家邮箱">
                                                            <span>{{props.row.email}}</span>
                                                        </el-form-item>
                                                        <el-form-item label="商品名称">
                                                            <span>{{props.row.name}}
                                                            </span>
                                                        </el-form-item>
                                                        <el-form-item label="商品数量">
                                                            <span>{{props.row.quantity}}
                                                            </span>
                                                        </el-form-item>
                                                        <el-form-item label="金额">
                                                            <span>{{props.row.money}}
                                                            </span>
                                                        </el-form-item>
                                                        <el-form-item label="下单时间">
                                                            <span>{{props.row.time}}</span>
                                                        </el-form-item>
                                                        <el-form-item label="订单状态">
                                                            <!--                                                            <span>{{props.row.state}}</span>-->
                                                            <span v-if="props.row.state === 'FINISHED'">已完成</span>
                                                            <span v-if="props.row.state === 'UNRECEIVED'">待收货</span>
                                                            <span v-if="props.row.state === 'UNDELIVERED'">待发货</span>
                                                            <span v-if="props.row.state === 'UNPAID'">待付款</span>
                                                        </el-form-item>
                                                    </el-form>
                                                </template>
                                            </el-table-column>
                                            <el-table-column label="序号" width="80px">
                                                <template slot-scope="scope">
                                                    {{ scope.$index + (currentPage - 1) * pageSize + 1 }}
                                                </template>
                                            </el-table-column>
                                            <el-table-column prop="imageUrl" label="商品图片" width="120px"
                                                             style="text-align: center;">
                                                <template slot-scope="scope"><img :src=scope.row.imageUrl width="60px"
                                                                                  height="60px"/></template>
                                            </el-table-column>
                                            <el-table-column prop="id" label="订单号"></el-table-column>
                                            <el-table-column prop="buyer" label="买家编号"></el-table-column>
                                            <el-table-column prop="email" label="买家邮箱"></el-table-column>
                                            <el-table-column prop="name" label="商品名称"></el-table-column>
                                            <el-table-column prop="state" label="订单状态" column-key="state"
                                                             :filters="[{text: '待收货', value: 'UNRECEIVED'},{text: '已完成', value: 'FINISHED'},
                                                             {text: '待发货', value: 'UNDELIVERED'},{text: '待付款', value: 'UNPAID'}]"
                                            >
                                                <template slot-scope="props">
                                                    <span v-if="props.row.state === 'FINISHED'">已完成</span>
                                                    <span v-if="props.row.state === 'UNRECEIVED'">待收货</span>
                                                    <span v-if="props.row.state === 'UNDELIVERED'">待发货</span>
                                                    <span v-if="props.row.state === 'UNPAID'">待付款</span>
                                                </template>
                                            </el-table-column>

                                        </el-table>
                                        <el-pagination
                                                @size-change="handleSizeChange"
                                                @current-change="handleCurrentChange"
                                                :current-page="currentPage"
                                                :page-sizes="[10, 20, 30]"
                                                :page-size="pageSize"
                                                layout="total, sizes, prev, pager, next, jumper"
                                                :total="tableDataResult.length">
                                        </el-pagination>
                                    </div>

                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </div><!-- container -->


            </div> <!-- Page content Wrapper -->

        </div> <!-- content -->

        <footer class="footer">
            © 2021 Upcube - Crafted with <i class="mdi mdi-heart text-danger"></i> by Zerone.
        </footer>

    </div>
    <!-- End Right content here -->

</div>
<!-- END wrapper -->

<!-- jQuery  -->
<script src="../external/vue/js/vue.js"></script>
<script src="../external/element-ui/js/index.js"></script>
<script src="../external/admin/js/jquery.min.js"></script>
<script src="../external/jquery/js/jquery.cookie.min.js"></script>
<script src="../external/admin/js/popper.min.js"></script>
<script src="../external/admin/js/bootstrap.min.js"></script>
<script src="../external/admin/js/modernizr.min.js"></script>
<script src="../external/admin/js/detect.js"></script>
<script src="../external/admin/js/fastclick.js"></script>
<script src="../external/admin/js/jquery.slimscroll.js"></script>
<script src="../external/admin/js/jquery.blockUI.js"></script>
<script src="../external/admin/js/waves.js"></script>
<script src="../external/admin/js/jquery.nicescroll.js"></script>
<script src="../external/admin/js/jquery.scrollTo.min.js"></script>

<!-- Required datatable js -->
<script src="../external/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../external/admin/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="../external/admin/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="../external/admin/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="../external/admin/plugins/datatables/jszip.min.js"></script>
<script src="../external/admin/plugins/datatables/pdfmake.min.js"></script>
<script src="../external/admin/plugins/datatables/vfs_fonts.js"></script>
<script src="../external/admin/plugins/datatables/buttons.html5.min.js"></script>
<script src="../external/admin/plugins/datatables/buttons.print.min.js"></script>
<script src="../external/admin/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="../external/admin/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="../external/admin/plugins/datatables/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="../external/admin/pages/datatables.init.js"></script>

<!-- Sweet-Alert  -->
<script src="../external/admin/plugins/sweet-alert2/sweetalert2.min.js"></script>
<script src="../external/admin/pages/sweet-alert.init.js"></script>

<!-- App js -->
<script src="../external/admin/js/app.js"></script>

<script src="../js/core.js"></script>
<script src="../js/admin-order.js"></script>
<script src="../js/adminMenu.js"></script>

</body>
</html>