<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <title>个人中心</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<div id="page-header">
    <page-header></page-header>
</div>
<el-container>
    <el-header height="100px">
        <div id="app-header">
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="1">个人中心</el-menu-item>
                <el-menu-item index="2"><a href="index.html" target="_blank">首页</a></el-menu-item>
                <el-menu-item index="3"><a href="index.html" target="_blank">购物车</a></el-menu-item>
            </el-menu>
        </div>

    </el-header>

    <el-container direction="horizontal">
        <el-aside id="app-aside" width="205px" style="float: left">
            <el-row class="tac">
                <el-col :span="24">
                    <el-menu
                            default-active="2"
                            class="el-menu-vertical-demo"
                            @open="handleOpen"
                            @close="handleClose"
                            background-color="#545c64"
                            text-color="#fff"
                            active-text-color="#ffd04b">

                        <el-menu-item index="2">
                            <i class="el-icon-user"></i>
                            <span slot="title">我的资料</span>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <i class="el-icon-goods"></i>
                            <span slot="title">我的商品</span>
                        </el-menu-item>

                        <el-submenu index="4">
                            <template slot="title">
                                <i class="el-icon-s-order"></i>
                                <span>订单管理</span>
                            </template>
                            <el-menu-item-group>
                                <el-menu-item index="1-1">我的已购</el-menu-item>
                                <el-menu-item index="1-2">我的售出</el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>

                        <el-menu-item index="5">
                            <i class="el-icon-star-off"></i>
                            <span slot="title">商品收藏</span>
                        </el-menu-item>
                        <el-menu-item index="6">
                            <i class="el-icon-position"></i>
                            <span slot="title">收货地址</span>
                        </el-menu-item>
                    </el-menu>
                </el-col>
            </el-row>
        </el-aside>

        <el-main id="app-main">
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="头像">
                    <template>
                        <div class="demo-type">
                            <el-avatar icon="el-icon-user-solid"></el-avatar>
                        </div>
                    </template>
                </el-form-item>
                <el-form-item label="用户名">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="学校">
                    <el-input v-model="form.school"></el-input>
                </el-form-item>
                <el-form-item label="电话">
                    <el-input v-model="form.telephone"></el-input>
                </el-form-item>
                <el-form-item label="邮箱">
                    <el-input v-model="form.email"></el-input>
                </el-form-item>
                <el-form-item id="app-pwd" label="密码" >
                    <el-input placeholder="请输入密码" v-model="form.pwd" show-password></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">修改</el-button>
                    <el-button @click="">取消</el-button>
                </el-form-item>
            </el-form>
        </el-main>
    </el-container>
</el-container>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="../js/header.js"></script>
<script>
    new Vue({
        el: "#app-header",
        data() {
            return {
                activeIndex: '1',
            };
        }
    })
</script>
<script>
    new Vue ({
        el: "#app-icon",
        data() {
            return {
                src: '../img/profile.jpg'
            }
        }
    })
</script>

<script>
    new Vue ({
        el: "#app-search",
        data() {
            return {
                input: ''
            }
        }
    })
</script>

<script>
    new Vue({
        el: "#app-aside",
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            }
        }
    })
</script>

<script>
    new Vue({
        el: "#app-main",
        data() {
            return {
                form: {
                    name: '',
                    school: '',
                    telephone: '',
                    email: '',
                    pwd: ''
                }
            }
        },
        methods: {
            onSubmit() {
                console.log('submit!');
            }
        }
    })
</script>

<script>
    new Vue({
        el: "#app-pwd",
        data(){
            return{
                icon: "el-input__icon el-icon-view",
                passw: "password",
            }
        },
        methods:{
            //密码的隐藏和显示
            showPass() {
                //点击图标是密码隐藏或显示
                if (this.passw == "text") {
                    this.passw = "password";
                    //更换图标
                    this.icon = "el-input__icon el-icon-view";
                } else {
                    this.passw = "text";
                    this.icon = "el-input__icon el-icon-loading";
                    setTimeout(()=>{
                        this.icon = "";
                    },500)
                }
            },
            //密码失焦事件
            onBlur(){
                this.passw = "password";
                this.icon = "el-input__icon el-icon-view";
            },
        }
    })
</script>

<style>
    .el-row {
        margin-bottom: 20px;
    }
    .el-col {
        border-radius: 4px;
    }
    .bg-purple-dark {
        background: #99a9bf;
    }
    .bg-purple {
        background: #d3dce6;
    }
    .bg-purple-light {
        background: #e5e9f2;
    }
    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }
    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }
</style>

<style>
    .icon-style {
        margin-top: 8px;
        font-size: 18px;
    }

    .pwd-input {
        border: 1px solid #fff;
        width: 250px;
    }
</style>
</html>