<!doctype html>
<html lang="zxx">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../external/element-ui/css/index.css">
    <link rel="stylesheet" href="../external/olex/css/bootstrap.min.css">
    <link rel="stylesheet" href="../external/olex/css/animate.min.css">
    <link rel="stylesheet" href="../external/olex/fonts/flaticon.css">
    <link rel="stylesheet" href="../external/olex/css/boxicons.min.css">
    <link rel="stylesheet" href="../external/olex/css/magnific-popup.css">
    <link rel="stylesheet" href="../external/olex/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../external/olex/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../external/olex/css/nice-select.min.css">
    <link rel="stylesheet" href="../external/olex/css/meanmenu.css">
    <link rel="stylesheet" href="../external/olex/css/style.css">
    <link rel="stylesheet" href="../external/olex/css/responsive.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/wishlist.css">

    <title>我的收藏</title>
</head>

<body>
<div class="preloader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>

<!-- Start Navbar Area -->
<div class="navbar-area">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
        <a href="../index.html" class="logo">
            <img src="../img/logo.png" alt="Logo">
        </a>
    </div>

    <div id="page-header">
        <page-header></page-header>
    </div>
</div>


<!-- Start Cart Area -->
<section class="cart-wraps-area ptb-100">
    <div class="container">
        <div class="section-title" style="margin-bottom: 50px;margin-top: 10px">
            <h2>我的收藏</h2>
        </div>
        <div class="row" id="myWishes">
            <div class="col-lg-12 col-md-12">
                <form>
                    <div class="cart-wraps">
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col" width="20%">商品</th>
                                    <th scope="col" width="20%">名称</th>
                                    <th scope="col" width="20%" style="padding-left:2%">价格</th>
                                    <th scope="col" width="20%">加入购物车</th>
                                    <th scope="col" width="20%">取消收藏</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr v-for="wish in wishes" :key="wish.itemId">
                                    <td class="product-thumbnail">
                                        <a :href=wish.url>
                                            <img :src=wish.imageUrl alt="Image">
                                        </a>
                                    </td>

                                    <td class="product-name">
                                        <a :href=wish.url style="font-size:18px">{{wish.name}}</a>
                                    </td>

                                    <td class="product-price" style="padding-left:2%">
                                        <span class="unit-amount" style="font-size:17px">￥{{wish.price}}</span>
                                    </td>

                                    <td class="product-quantity" style="padding-left:2%">
                                        <a class="selectable" @click="openCartDialog(wish)"><i
                                                class='bx bx-cart' style="color:#ff626c; font-size: 28px;"></i></a>
                                    </td>
                                    <td class="product-quantity" style="padding-left:2%">
                                        <a class="selectable" @click="openCancelCollectionDialog(wish)"><i
                                                class='bx bxs-heart'
                                                style="color:#ff626c; font-size: 28px;"></i></a>
                                    </td>
                                    <el-dialog title="加入购物车" :visible.sync="dialogVisibleForCart" width="30%">
                                        <div class="adder">
                                            <span class="quantity-label">数量</span>
                                            <el-input-number v-model="cnt" :min=1 :max="max"
                                                             size="small"></el-input-number>
                                            <span class="stock-label"> 件（库存 {{max}} 件）</span>
                                        </div>
                                        <span slot="footer" class="dialog-footer">
                                        <el-button @click="dialogVisibleForCart = false">取 消</el-button>
                                        <el-button type="primary" @click="addToCart">确 定</el-button>
                                        </span>
                                    </el-dialog>
                                    <el-dialog title="取消收藏" :visible.sync="dialogVisibleForCancelCollection"
                                               width="30%">
                                        是否确定要取消收藏？
                                        <span slot="footer" class="dialog-footer">
                                            <el-button
                                                    @click="dialogVisibleForCancelCollection = false">取 消</el-button>
                                            <el-button type="primary"
                                                       @click="cancelCollection">确 定</el-button>
                                        </span>
                                    </el-dialog>
                                </tr>
                                <!--                                <tr>-->
                                <!--                                    <td class="product-thumbnail">-->
                                <!--                                        <a href="#">-->
                                <!--                                            <img src="../assets/images/products/propular-style1.png" alt="Image">-->
                                <!--                                        </a>-->
                                <!--                                    </td>-->

                                <!--                                    <td class="product-name">-->
                                <!--                                        <a href="#">Perfect Rice</a>-->
                                <!--                                    </td>-->

                                <!--                                    <td class="product-price">-->
                                <!--                                        <span class="unit-amount">$120.00</span>-->
                                <!--                                    </td>-->

                                <!--                                    <td class="product-quantity">-->
                                <!--                                        <a href="#" class="default-btn btn-bg-three">加入购物车</a>-->
                                <!--                                    </td>-->
                                <!--                                </tr>-->
                                </tbody>
                            </table>
                        </div>

                        <!--                        <div class="col-lg-12 col-md-12 text-center" style="padding-top: 20px">-->
                        <!--                            <div class="pagination-area">-->
                        <!--                                <a href="#" class="prev page-numbers">-->
                        <!--                                    <i class="bx bx-chevron-left"></i>-->
                        <!--                                </a>-->

                        <!--                                <span class="page-numbers current" aria-current="page">1</span>-->
                        <!--                                <a href="#" class="page-numbers">2</a>-->
                        <!--                                <a href="#" class="page-numbers">3</a>-->

                        <!--                                <a href="#" class="next page-numbers">-->
                        <!--                                    <i class="bx bx-chevron-right"></i>-->
                        <!--                                </a>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Cart Area -->

<script src="../external/vue/js/vue.js"></script>
<script src="../external/element-ui/js/index.js"></script>
<script src="../external/jquery/js/jquery.min.js"></script>
<script src="../external/jquery/js/jquery.cookie.min.js"></script>
<script src="../external/olex/js/popper.min.js"></script>
<script src="../external/olex/js/bootstrap.min.js"></script>
<script src="../external/olex/js/jquery.magnific-popup.min.js"></script>
<script src="../external/olex/js/owl.carousel.min.js"></script>
<script src="../external/olex/js/jquery.nice-select.min.js"></script>
<script src="../external/olex/js/wow.min.js"></script>
<script src="../external/olex/js/meanmenu.js"></script>
<script src="../external/olex/js/jquery.ajaxchimp.min.js"></script>
<script src="../external/olex/js/form-validator.min.js"></script>
<script src="../external/olex/js/contact-form-script.js"></script>
<script src="../external/olex/js/mixitup.min.js"></script>
<script src="../external/olex/js/custom.js"></script>
<script src="../js/core.js"></script>
<script src="../js/wish.js"></script>
<script src="../js/header.js"></script>
</body>

</html>
