.item__name {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.cart-buttons a {
    margin-right: 30px
}
.add-cart-btn
{
    background-color: #E8B43F;
    border-radius: 2px;
    padding: 4px 20px;
    color: #ffffff;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: inline-flex;
}
.add-btn a:hover {
    color: #ffffff;
    text-decoration: underline;
}
