.el-select input{
    height: 50px;
    color: #10142D;
    border: 1px solid #E8B43F;
    background-color: #F1F1F1;
    font-size: 14px;
    width: 100%;
    font-weight: 500;
    border-radius: 0;
}

.el-select {
    width: 100%;
}
.el-select-dropdown__item.selected {
    color: #E8B43F;
    font-weight: 700;
}
.el-select .el-input.is-focus .el-input__inner {
    border-color: #E8B43F;
}
.el-select:hover .el-input__inner {
    border-color: #E8B43F;
}
.el-select .el-input__inner:focus {
    border-color: #E8B43F;
}