#item-app .el-carousel img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.el-carousel {
    height: 400px;
    overflow: hidden;
}

.el-carousel__container {
    height: 400px;
}

.adder {
    margin-top: 15px;
}

.quantity-label {
    padding-right: 10px;
}

.stock-label {
    padding-left: 10px;
}

.img-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
}

.icon__class {
    display: block;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    font-size: 28px;
    color: #10142D;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.icon__class a i {
    color: #ff626c;
}

.ico-pre {
    position: absolute;
    left: -21px;
    top: 12px;
}

.span-box {
    display: inline-block;
    position: relative;
}

.el-form-item__content {
    line-height: 40px;
    position: relative;
    font-size: 16px
}

.el-form-item__label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 16px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.disabled-button {
    background-color: darkgrey;
    cursor: not-allowed !important;
}