#item-app .el-carousel img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.el-carousel {
    height: 400px;
    overflow: hidden;
}

.el-carousel__container {
    height: 400px;
}

.adder {
    margin-top: 15px;
}

.quantity-label {
    padding-right: 10px;
}

.stock-label {
    padding-left: 10px;
}

.img-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
}