.full-screen-body {
    width: 100%;
    margin-up: 0;
    padding: 0;
}

#login-box-container {
    max-width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

#login-box-container img {
    width: 100%;
    display: block;
    border: 0;
}

#login-box {
    margin-bottom: 20px;
    position: relative;
}

#login-box .box-card {

    width: 300px;
    background-color: #ffffff;
    border-width: 0;
}

#login-box .submit-button {
    display: inline-block;
    padding: 12px 42px;
    color: #ffffff;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: #E8B43F;
}

#login-box .form-header {
    font-size: 26px;
    margin-bottom: 30px;
    line-height: 1.2;
}

#login-box .h-rule {
    margin-top: 12px;
    margin-bottom: 20px;
}

.transparency-input input {
    height: 50px;
    color: #10142D;
    border: 1px solid #E8B43F;
    background-color: #F1F1F1;
    font-size: 14px;
    padding: 10px 40px;
    width: 100%;
    font-weight: 500;
    border-radius: 0;
}
.el-link.el-link--default:hover {
    color: #e83f6e
}
