[v-cloak] {
    display: none;
}

.addr-card-text {
    font-size: 14px;
}

.addr-card-item {
    margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.addr-box-card {
    width: 480px;
}

.link-container {
    display: flex;
    justify-content: flex-end;
    line-height: normal;
}

.link-container .link {
    margin-left: 10px;
    color: rgb(220, 220, 220);
}

.form-bottom {
    margin-bottom: 0;
}

#item-app, body, html {
    height: 100%;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.top {
    background-color: #fff;
    border-bottom: 1px solid #e4e6e6;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.inner {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    width: 600px;
    padding: 10px 30px;
    background-color: #f6f6f6;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .07);
}

.title {
    margin-bottom: 30px;
    color: #333;
}

.text-center {
    text-align: center;
}

.head-inner {
    z-index: 100;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-atag {
    cursor: default;
    font-weight: 700;
    position: absolute;
    left: 300px;
    color: #fff;
}

.nav-index {
    cursor: default;
    font-weight: 700;
    justify-content: center;
    color: #fff;
}

.nav-cart {
    cursor: default;
    font-weight: 700;
    position: relative;
    left: 50px;
    color: #fff;
}

.nav-comingsoon {
    float: right;
}

.user-form-item-content {
    position: relative;
    line-height: 32px;
    font-size: 12px;
    width: 600px
}

.i-form-item {
    margin-bottom: 24px;
    vertical-align: top;
    zoom: 1;
}

.i-form .i-form-item-label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 12px;
    color: #515a6e;
    line-height: 1;
    padding: 10px 12px 10px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.i-form-item-content {
    position: relative;
    line-height: 32px;
    font-size: 12px;
    width: 500px
}

.password {
    position: relative;
}

.password .n-txtCss {
    width: 30% !important;
}

.password .fa {
    position: absolute;
    right: 405px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
}

.user-container {
    position: absolute;
    top: 110px;
    left: 120px;
    margin-top: 20px;
}

.nav-p {
    position: relative;
    margin-top: 10px;
}


button {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}


.address-main {
    padding: 5px 0 10px 15px;
}

.m-own-address-box {
    padding: 20px 0 10px 3px;
}

.u-address-title {
    padding: 16px 20px 18px;
    border-bottom: 1px solid #ebebeb;
    color: grey;
}

.m-address-info {
    width: 227px;
    height: 122px;
    position: relative;
    background: url(//member.vipstatic.com/img/myi/address-bg.png?46a52b18) no-repeat;
    display: inline-block;
    zoom: 1;
    margin: 0 0 10px 10px;
    padding: 14px;
    overflow: hidden;
}

.m-address-info-default {
    background: url(//member.vipstatic.com/img/myi/address-bg.png?46a52b18) no-repeat;
}

.m-address-info .u-name {
    font-size: 12px;
    background: url(//member.vipstatic.com/img/myi/i-addr-user.png?892b6403) no-repeat 1px 4px;
    padding: 0 0 5px 20px;
    border-bottom: 1px dotted #dcdcdc;

}

.m-address-info .u-address {
    font-size: 12px;
    padding: 2px 0 0 20px;
    border-bottom: 1px dotted #dcdcdc;
    height: 45px;
}

.m-address-info .u-address-type-other {
    background: url(//member.vipstatic.com/img/myi/i-addr-mark.png?62cd7cae) no-repeat 1px 8px;
}

.m-address-info .u-address-major {
    background: #f974ba none repeat;
    border-radius: 0 0 5px 5px;
    color: #fff;
    padding: 0 10px;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: -18px;
    transition: top .2s ease 0s;
}

.m-address-info .u-contact {
    font-size: 12px;
    background: url(//member.vipstatic.com/img/myi/i-addr-phone.png?ab296a4f) no-repeat 1px 8px;
    padding: 2px 0 8px 20px;
}

.m-address-info .u-contact .u-telephone {
    margin-left: 15px;
}

.m-address-form {
    color: #333;
    font-size: 12px;
    border-top: 1px solid #ef50a3;
    margin-top: 10px;
    background: #fff none repeat;
    width: 600px;
}

.m-add-address .u-add-title {
    display: block;
    margin-left: 5px;
}

.m-add-address .u-modify-title {
    display: none;
}

.m-address-form h3 {
    color: #333;
    font-size: 14px;
    font-weight: bolder;
    padding: 18px 0 12px 20px;
}

.m-address-form .m-form {
    padding: 20px 0 5px;
    background: #fbfbfb url(//member.vipstatic.com/img/myi/bg-addr-frm.png?3541cb0b) repeat-x scroll bottom;
    border-top: 1px solid #dcdcdc;
}

.m-address-form .m-from .u-address-label {
    font-size: 14px;
    width: 126px;
    color: #333;
    cursor: default;
    text-align: right;
}

.ui-label {
    display: inline-block;
    font: 14px/32px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    vertical-align: middle;
    margin-right: 10px;
}

.m-address-form .m-from .u-address-label .u-star {
    color: #f10180;
    margin-right: 5px;
}

.f-nowrap {
    white-space: nowrap;
}


.m-address-form .u-consignee-input {
    width: 220px;
}
dress-form-item-content {
    position: relative;
    line-height: 32px;
    font-size: 12px;
    width: 400px
}

#post-form .textarea textarea{
    font-family: "微软雅黑";
}

.selectable {
    cursor: pointer;
}

#userinfo-form .form-group {
    margin-bottom: 0;
}

.product-desc p {
    font-size: 18px;
}

.el-button--three.is-active,
.el-button--three:active,
.el-button--three:focus,
.el-button--three:hover,
.el-button--three {
    background: rgb(232,180,63);
    color: #fff;
}