.demo-table-expand {
    font-size: 0;
}

.demo-table-expand label {
    width: 90px;
    color: #99a9bf;
}

.demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
}

.desc-type {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.desc-type:hover {
    text-overflow: inherit;
    overflow: visible;
}

.ellipsis-type {
    max-width: 250px;
    white-space: nowrap;
    overflow: inherit;
}

.ellipsis-type:hover {
    text-overflow: inherit;
    overflow: visible;
}
.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover {
    color: #FFFFFF;
    cursor: not-allowed;
    background-image: none;
    background-color:  #868e96;
    border-color:  #868e96;
}